@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";

body, *{
  font-family: "LibreBaskerville";
  color: #4A3419;
}

h1,h2,h3,h4,a,input{
  p{
    font-family: "Avenir";  
  }
  font-family: "Avenir";
}

.portableText ul{
  list-style: disc;
  padding-left: 22px;
}

@media(min-width: 1440px){
  .portableText ul{
    padding-left: 1.527vw;
  }
}